In [1]:
import pandas as pd

In [2]:
crops = pd.read_csv("crops.csv")
df = pd.DataFrame(crops)
df

             crop     year   area     msp  yields
0            rice  2014-15  15759    1360  378216
1            rice  2015-16  15987    1414  383688
2            rice  2016-17  15747    1470  377928
3            rice  2017-18  15958    1550  382992
4            rice  2018-19  15848    1750  380352
..            ...      ...    ...     ...     ...
95  errachandanam  2014-15      5  150000      10
96  errachandanam  2015-16      5  160000      10
97  errachandanam  2016-17      9  190000      10
98  errachandanam  2017-18     10  195000      10
99  errachandanam  2018-19     12  209000      10

[100 rows x 5 columns]