In [1]:
import pandas as pd

In [2]:
movie_metadata = pd.read_csv(
    "movie_metadata.csv", sep=","
)  # Reading the CSV file with semicolon separator
movie_metadata_df = pd.DataFrame(movie_metadata)  # Converting to DataFrame
movie_metadata_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [3]:
dt = movie_metadata_df[
    movie_metadata_df["duration"] > 170
]  # Filtering movies with duration greater than 170 minutes
dt

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,Action|Adventure|Sci-Fi,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000
17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,623279547.0,Action|Adventure|Sci-Fi,...,1722.0,English,USA,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000
23,Color,Peter Jackson,509.0,186.0,0.0,773.0,Adam Brown,5000.0,258355354.0,Adventure|Fantasy,...,951.0,English,USA,PG-13,225000000.0,2013.0,972.0,7.9,2.35,83000
25,Color,Peter Jackson,446.0,201.0,0.0,84.0,Thomas Kretschmann,6000.0,218051260.0,Action|Adventure|Drama|Romance,...,2618.0,English,New Zealand,PG-13,207000000.0,2005.0,919.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4113,Color,NaN,10.0,173.0,NaN,476.0,Colm Feore,723.0,NaN,Horror|Sci-Fi|Thriller,...,33.0,English,USA,NaN,NaN,NaN,539.0,5.0,1.78,518
4238,Black and White,William Wyler,97.0,172.0,355.0,188.0,Teresa Wright,749.0,23650000.0,Drama|Romance|War,...,235.0,English,USA,Not Rated,2100000.0,1946.0,208.0,8.1,1.37,0
4694,Color,Peter Jackson,446.0,201.0,0.0,84.0,Thomas Kretschmann,6000.0,218051260.0,Action|Adventure|Drama|Romance,...,2618.0,English,New Zealand,PG-13,207000000.0,2005.0,918.0,7.2,2.35,0
4708,Color,Michael Wadleigh,53.0,215.0,14.0,136.0,Jimi Hendrix,262.0,13300000.0,Documentary|History|Music,...,63.0,English,USA,R,600000.0,1970.0,227.0,8.1,2.20,0
4747,Black and White,Akira Kurosawa,153.0,202.0,0.0,4.0,Minoru Chiaki,304.0,269061.0,Action|Adventure|Drama,...,596.0,Japanese,Japan,Unrated,2000000.0,1954.0,8.0,8.7,1.37,11000

In [4]:
data = movie_metadata_df[
    ["title_year", "imdb_score"]
]  # Selecting specific columns: title_year and imdb_score
data

      title_year  imdb_score
0         2009.0         7.9
1         2007.0         7.1
2         2015.0         6.8
3         2012.0         8.5
4            NaN         7.1
...          ...         ...
5038      2013.0         7.7
5039         NaN         7.5
5040      2013.0         6.3
5041      2012.0         6.3
5042      2004.0         6.6

[5043 rows x 2 columns]

In [5]:
movie_metadata_df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [6]:
# Filter movies that:
# 1) have duration > 160 minutes,
# 2) have fewer than 100 critic reviews,
# 3) are produced in the USA
data2 = movie_metadata_df[
    (movie_metadata_df.duration > 160)
    & (movie_metadata_df.num_critic_for_reviews < 100)
    & (movie_metadata_df.country == "USA")
]
data2

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
76,Color,Kevin Reynolds,91.0,176.0,58.0,60.0,Rick Aviles,711.0,88246220.0,Action|Adventure|Sci-Fi|Thriller,...,309.0,English,USA,PG-13,175000000.0,1995.0,60.0,6.1,1.85,0
420,Color,Martin Brest,98.0,178.0,102.0,551.0,Brad Pitt,12000.0,44606335.0,Drama|Fantasy|Romance,...,703.0,English,USA,PG-13,90000000.0,1998.0,11000.0,7.1,1.85,10000
499,Color,Kevin Costner,79.0,177.0,0.0,582.0,Brian Anthony Wilson,766.0,17593391.0,Action|Adventure|Drama|Sci-Fi,...,376.0,English,USA,R,80000000.0,1997.0,674.0,6.0,2.35,0
606,Color,James Cameron,82.0,171.0,0.0,638.0,Todd Graff,2000.0,54222000.0,Adventure|Drama|Sci-Fi|Thriller,...,380.0,English,USA,PG-13,69500000.0,1989.0,650.0,7.6,2.35,0
698,Color,Lawrence Kasdan,40.0,212.0,759.0,812.0,Catherine O'Hara,2000.0,25052000.0,Adventure|Biography|Crime|Drama|Western,...,145.0,English,USA,PG-13,63000000.0,1994.0,925.0,6.6,2.35,0
735,Color,Robert Redford,96.0,170.0,0.0,380.0,Kristin Scott Thomas,19000.0,75370763.0,Drama|Romance|Western,...,263.0,English,USA,PG-13,60000000.0,1998.0,1000.0,6.5,1.85,0
883,Color,Ron Maxwell,84.0,280.0,33.0,67.0,Bruce Boxleitner,789.0,12870569.0,Drama|History|War,...,497.0,English,USA,PG-13,56000000.0,2003.0,640.0,6.3,2.35,953
909,Color,Jonathan Demme,78.0,172.0,438.0,466.0,Kimberly Elise,852.0,22843047.0,Drama|History|Horror,...,207.0,English,USA,R,55000000.0,1998.0,637.0,5.9,1.85,853
1124,Color,Billy Bob Thornton,85.0,220.0,0.0,820.0,Henry Thomas,13000.0,15527125.0,Drama|Romance|Western,...,183.0,English,USA,PG-13,57000000.0,2000.0,861.0,5.8,2.35,652
1125,Black and White,Oliver Stone,83.0,212.0,0.0,805.0,Bob Hoskins,12000.0,13560960.0,Biography|Drama|History,...,161.0,English,USA,R,50000000.0,1995.0,5000.0,7.1,2.35,915
1429,Color,Spike Lee,61.0,202.0,0.0,318.0,Delroy Lindo,18000.0,48169908.0,Biography|Drama|History|Romance,...,156.0,English,USA,PG-13,33000000.0,1992.0,848.0,7.7,1.85,0
1501,Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
1523,Color,Warren Beatty,57.0,195.0,631.0,521.0,Warren Beatty,635.0,NaN,Biography|Drama|History|Romance,...,127.0,English,USA,PG,35000000.0,1981.0,631.0,7.5,1.85,0
1575,Color,Sydney Pollack,66.0,161.0,521.0,184.0,Michael Gough,11000.0,87100000.0,Biography|Drama|Romance,...,200.0,English,USA,PG,31000000.0,1985.0,920.0,7.2,1.85,0
1813,Color,Philip Kaufman,80.0,193.0,133.0,820.0,Scott Glenn,2000.0,21500000.0,Adventure|Drama|History,...,170.0,English,USA,PG,27000000.0,1983.0,826.0,7.9,1.85,0
1843,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
1980,Color,Ron Maxwell,22.0,271.0,33.0,251.0,William Morgan Sheppard,854.0,10769960.0,Drama|History|War,...,256.0,English,USA,PG,25000000.0,1993.0,702.0,7.7,1.85,0
2092,Color,Christopher Spencer,61.0,170.0,25.0,55.0,Amber Rose Revah,329.0,59696176.0,Biography|Drama|History,...,174.0,English,USA,PG-13,22000000.0,2014.0,134.0,5.6,2.35,15000
2266,Color,George Stevens,27.0,225.0,126.0,202.0,Carroll Baker,940.0,8000000.0,Biography|Drama|History,...,100.0,English,USA,G,20000000.0,1965.0,208.0,6.6,2.76,1000
2356,Color,Kevin Costner,92.0,236.0,0.0,232.0,Michael Spears,933.0,184208848.0,Adventure|Drama|Western,...,382.0,English,USA,PG-13,22000000.0,1990.0,839.0,8.0,2.35,0
2379,Color,Anthony Mann,30.0,172.0,75.0,102.0,Mel Ferrer,617.0,NaN,Drama|History|War,...,91.0,English,USA,Approved,19000000.0,1964.0,134.0,6.7,2.20,560
2487,Color,George Cukor,82.0,170.0,165.0,244.0,Rex Harrison,453.0,72000000.0,Drama|Family|Musical|Romance,...,258.0,English,USA,Approved,17000000.0,1964.0,272.0,7.9,2.20,0
2727,Color,NaN,9.0,286.0,NaN,527.0,Tom Hollander,857.0,NaN,Drama|History|Thriller,...,39.0,English,USA,NaN,NaN,NaN,555.0,7.9,1.78,733
3026,Color,David Lean,89.0,200.0,767.0,382.0,Klaus Kinski,597.0,111722000.0,Drama|Romance|War,...,255.0,English,USA,PG-13,11000000.0,1965.0,396.0,8.0,2.35,7000
3101,Black and White,Ken Annakin,53.0,178.0,19.0,196.0,Richard Beymer,726.0,NaN,Action|Drama|History|War,...,192.0,English,USA,G,10000000.0,1962.0,249.0,7.8,2.35,0
3267,Color,Stanley Kramer,61.0,197.0,176.0,760.0,Sid Caesar,924.0,46300000.0,Action|Adventure|Comedy|Crime,...,344.0,English,USA,Approved,9400000.0,1963.0,898.0,7.6,2.76,0
3280,Color,Norman Jewison,66.0,181.0,278.0,51.0,Paul Michael Glaser,402.0,50000000.0,Drama|Family|Musical|Romance,...,150.0,English,USA,G,9000000.0,1971.0,343.0,8.0,2.35,0
3352,Color,Mervyn LeRoy,54.0,171.0,54.0,346.0,Deborah Kerr,440.0,NaN,Biography|Drama|History|Romance,...,90.0,English,USA,Passed,7623000.0,1951.0,426.0,7.2,1.37,1000
3958,Color,Peter H. Hunt,34.0,168.0,0.0,69.0,Ken Howard,713.0,NaN,Drama|Family|History|Musical,...,129.0,English,USA,PG,4000000.0,1972.0,649.0,7.6,2.35,0
4077,Black and White,Stanley Kramer,73.0,186.0,176.0,760.0,Montgomery Clift,877.0,NaN,Drama|War,...,176.0,English,USA,Not Rated,3000000.0,1961.0,862.0,8.3,1.75,0
4113,Color,NaN,10.0,173.0,NaN,476.0,Colm Feore,723.0,NaN,Horror|Sci-Fi|Thriller,...,33.0,English,USA,NaN,NaN,NaN,539.0,5.0,1.78,518
4238,Black and White,William Wyler,97.0,172.0,355.0,188.0,Teresa Wright,749.0,23650000.0,Drama|Romance|War,...,235.0,English,USA,Not Rated,2100000.0,1946.0,208.0,8.1,1.37,0
4688,Color,Steve James,53.0,170.0,23.0,2.0,Arthur Agee,7.0,7830611.0,Documentary|Drama|Sport,...,74.0,English,USA,PG-13,700000.0,1994.0,6.0,8.3,1.33,0
4708,Color,Michael Wadleigh,53.0,215.0,14.0,136.0,Jimi Hendrix,262.0,13300000.0,Documentary|History|Music,...,63.0,English,USA,R,600000.0,1970.0,227.0,8.1,2.20,0

In [7]:
# Filter movies with duration between 160 and 200 minutes,
# sort them by duration in ascending order,
# and display only the director_name, movie_title, and duration columns
data3 = (
    movie_metadata_df[
        (movie_metadata_df.duration >= 160) & (movie_metadata_df.duration < 200)
    ]
    .sort_values(by="duration")
    .reset_index(drop=True)
)
data3[["director_name", "movie_title", "duration"]]

,director_name,movie_title,duration
0,Richard Fleischer,Tora! Tora! Tora!,160.0
1,Spike Lee,Miracle at St. Anna,160.0
2,Andrew Dominik,The Assassination of Jesse James by the Coward...,160.0
3,Richard Kelly,Southland Tales,160.0
4,Remo,ABCD (Any Body Can Dance),160.0
...,...,...,...
98,Warren Beatty,Reds,195.0
99,Wolfgang Petersen,Troy,196.0
100,NaN,Deadline Gallipoli,197.0
101,Stanley Kramer,"It's a Mad, Mad, Mad, Mad World",197.0
102,NaN,Anne of Green Gables,199.0

In [8]:
# Sort the movie metadata by duration in descending order (longest movies first)
data4 = movie_metadata_df.sort_values(by="duration", ascending=False)
data4[["movie_title", "duration"]]

                    movie_title  duration
1710       Trapped                  511.0
2466        Carlos                  334.0
1501       Blood In, Blood Out      330.0
1144             Heaven's Gate      325.0
3311  The Legend of Suriyothai      300.0
...                         ...       ...
4517    Wolf Creek                    NaN
4609         Karachi se Lahore        NaN
4690                   Destiny        NaN
4948          Romantic Schemer        NaN
4989             The Naked Ape        NaN

[5043 rows x 2 columns]

In [9]:
data5 = movie_metadata_df[
    movie_metadata_df.genres.str.contains("Comedy")
]  # Filtering movies in the Comedy genre
data5[["movie_title", "genres"]]

,movie_title,genres
7,Tangled,Adventure|Animation|Comedy|Family|Fantasy|Musi...
19,Men in Black 3,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi
35,Monsters University,Adventure|Animation|Comedy|Family|Fantasy
41,Cars 2,Adventure|Animation|Comedy|Family|Sport
43,Toy Story 3,Adventure|Animation|Comedy|Family|Fantasy
...,...,...
5025,Pink Flamingos,Comedy|Crime|Horror
5031,Sanctuary; Quite a Conundrum,Comedy|Horror|Thriller
5037,Newlyweds,Comedy|Drama
5038,Signed Sealed Delivered,Comedy|Drama
5041,Shanghai Calling,Comedy|Drama|Romance

In [10]:
# Filter movies that are either:
# 1) belong to both "Action" and "Thriller" genres, or
# 2) belong to the "Drama" genre
data6 = movie_metadata_df[
    movie_metadata_df.genres.str.contains(r"(?=.*Action)(?=.*Thriller)")
    | movie_metadata_df.genres.str.contains("Drama")
]
# Display only the movie title and genres columns
data6[["movie_title", "genres"]]

                     movie_title                          genres
2                       Spectre        Action|Adventure|Thriller
3         The Dark Knight Rises                  Action|Thriller
22                   Robin Hood   Action|Adventure|Drama|History
25                    King Kong   Action|Adventure|Drama|Romance
26                      Titanic                    Drama|Romance
...                          ...                             ...
5037                  Newlyweds                     Comedy|Drama
5038    Signed Sealed Delivered                     Comedy|Drama
5039  The Following                 Crime|Drama|Mystery|Thriller
5040       A Plague So Pleasant            Drama|Horror|Thriller
5041           Shanghai Calling             Comedy|Drama|Romance

[2986 rows x 2 columns]

In [11]:
# Check for missing values in the DataFrame
movie_metadata_df.isnull()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
5039,False,True,False,False,True,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
5040,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
5041,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
5042,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
movie_metadata_df.isnull().sum()  # Count of missing values per column

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [13]:
# Check for non-missing values in the DataFrame
movie_metadata_df.notnull()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,True,False,False,True,False,True,True,False,True,...,False,False,False,False,False,False,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,True,True,True,True,True,True,True,True,False,True,...,True,True,True,False,False,True,True,True,False,True
5039,True,False,True,True,False,True,True,True,False,True,...,True,True,True,True,False,False,True,True,True,True
5040,True,True,True,True,True,True,True,True,False,True,...,True,True,True,False,True,True,True,True,False,True
5041,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
5042,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [14]:
movie_metadata_df.notnull().sum()  # Count of non-missing values per column

color                        5024
director_name                4939
num_critic_for_reviews       4993
duration                     5028
director_facebook_likes      4939
actor_3_facebook_likes       5020
actor_2_name                 5030
actor_1_facebook_likes       5036
gross                        4159
genres                       5043
actor_1_name                 5036
movie_title                  5043
num_voted_users              5043
cast_total_facebook_likes    5043
actor_3_name                 5020
facenumber_in_poster         5030
plot_keywords                4890
movie_imdb_link              5043
num_user_for_reviews         5022
language                     5029
country                      5038
content_rating               4740
budget                       4551
title_year                   4935
actor_2_facebook_likes       5030
imdb_score                   5043
aspect_ratio                 4714
movie_facebook_likes         5043
dtype: int64

In [15]:
movie_metadata_df['country'].head()

0    USA
1    USA
2     UK
3    USA
4    NaN
Name: country, dtype: object

In [16]:
# Get the number of occurrences of each unique country,
movie_metadata_df['country'].value_counts()

country
USA                     3807
UK                       448
France                   154
Canada                   126
Germany                   97
                        ...
Dominican Republic         1
Cameroon                   1
United Arab Emirates       1
Kenya                      1
Philippines                1
Name: count, Length: 65, dtype: int64

In [17]:
# Replace missing values in the 'country' column with the most frequent country (mode)
movie_metadata_df['country'].fillna(movie_metadata_df['country'].mode()[0], inplace=True)

# Display the first 5 values of the 'country' column to verify the changes
movie_metadata_df['country'].head()

0    USA
1    USA
2     UK
3    USA
4    USA
Name: country, dtype: object

In [18]:
movie_metadata_df['duration'].head()

0    178.0
1    169.0
2    148.0
3    164.0
4      NaN
Name: duration, dtype: float64

In [19]:
movie_metadata_df['duration'].isnull().sum()  # Count of missing values in 'duration' column

np.int64(15)

In [20]:
# Fill missing values in the 'duration' column with the mean duration (rounded to 1 decimal place)
movie_metadata_df['duration'].fillna(round(movie_metadata_df.duration.mean(), 1), inplace=True)

# Display the first 5 values of the 'duration' column
movie_metadata_df['duration'].isnull().sum()

np.int64(0)