In [1]:
import pandas as pd

In [2]:
sampleexcel = pd.read_excel("sampleexcel.xlsx")
sampleexcel_df = pd.DataFrame(sampleexcel)
sampleexcel_df

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED,ACTUAL_ELAPSED_TIME
0,2019-01-01,9E,5246,MSP,MKE,33,8,0,64
1,2019-01-01,9E,5249,ATL,PHF,8,-5,0,90
2,2019-01-01,9E,5249,PHF,ATL,-6,-2,0,121
3,2019-01-01,9E,5250,MSP,CLE,10,-5,0,102
4,2019-01-01,9E,5254,MSP,RDU,-5,-27,0,139
...,...,...,...,...,...,...,...,...,...
194,2019-01-01,AA,459,SEA,PHX,-1,33,0,206
195,2019-01-01,AA,460,PHX,ORD,3,-5,0,204
196,2019-01-01,AA,461,MCO,CLT,11,9,0,104
197,2019-01-01,AA,462,PHX,ATL,-2,-2,0,206
198,2019-01-01,AA,463,MCO,PHX,8,7,0,284

In [3]:
chetan=pd.read_excel("sampleexcel.xlsx",sheet_name="chetan")
chetanDataFrame = pd.DataFrame(chetan)
chetanDataFrame

   regno  name   phone address    m1    m2    m3    m4
0    101  anand    999     hyd  87.0  55.0   NaN  44.0
1    105    aaa    555     vij  77.0  66.0  99.0  99.0
2    109    rrr    444     vik   NaN  78.0  88.0  88.0
3    107    sss    888     sec  69.0  85.0  58.0   NaN
4    102    bbb    111     ant  89.0   NaN  99.0  99.0
5    201  anand    999     hyd  87.0  55.0   NaN  44.0
6    202    aaa    555     vij   NaN  66.0  99.0   NaN
7    203    rrr    444     vik  89.0  78.0  88.0  88.0
8    204    NaN    888     NaN  33.0  77.0  58.0   NaN
9    205    bbb    111     ant  77.0  88.0  99.0  99.0